
* {
    font-size: 16px;
    font-family:  "Alata", sans-serif;
}

a {
    text-decoration: none;
    color: #DDDDDD;
}

body {
    background-color: #101010;
}

.header {
    margin: 0 auto;
    max-width: 50vw;
    min-height: 8vh;
    color: #DDDDDD;
    padding: 3vh;
}

.navbar_toggle {
    font-size: 21px;
    display: none;
}

.title {
    float: left;
    max-width: 3vw;
    min-width: 60px;
    padding-left: 1vw;
}

.header_links {
    float: right;
    text-align: center;
}

.header ul {
    margin-right: 0;
    margin-left: auto;
    line-height: 2.5vh;
}

.header li {
    text-align: right;
    list-style-type: none;
    display: inline-block;
    margin-left: 1vw;
}

.header li :hover {
    text-decoration: underline #F7996E;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.selected {
    color: #F7996E;
}

.main {
    margin: 0 auto;
    max-width: 50vw;
    color: #DDDDDD;
}

.profile_image {
    float: left;
    max-width: 15vw;
    min-width: 300px;
    margin-top: -8vh;
    margin-left: 5vw;
}

.description {
    max-width: 21vw;
    text-align: justify;
    min-height: 30vh;
    margin-right: 1vw;
    margin-left: auto;
    margin-top: 12.5vh;
}

.bio_1 {
    font-size: 21px;
}


h2 {
    color: #F7996E;
    font-size: 21px;
}

.featured_panel {
    border-style: solid;
    border-color: #DDDDDD;
    border-radius: 25px;
    border-width: 1px;
    min-height: 45vh;
    background-color: rgba(221, 221, 221, 0.1);
    margin-top: 4vh;
}

.featured_description {
    float: left;
    max-width: 18vw;
    margin-left: 2vw;
    margin-top: 16vh;
}

.subtitle {
    color: rgba(221, 221, 221, 0.7);
    line-height: 0px;
    font-size: 16px;
    margin: 0;
    margin-bottom: 2.8vh;
}

.featured_image {
    float: right;
}

.featured_image img {
    max-width: 20vw;
    margin-right: 2vw;
    margin-top: 10vh;
}

.footer {
    padding-top: 2vh;
    margin: 0 auto;
    max-width: 50vw;
    color: #DDDDDD;
}

@media screen and (max-width: 1050px) {

    .main, .header, .footer {
        max-width: 82vw;
    }

    .header_links {
        display: none;
    }

    .description {
        max-width: 82vw;
        min-height: 20vh;
        margin-top: 12.5vh;
    }

    .navbar_toggle {
        display: contents;
        
    }



}
