
/* landing page */

* {
    font-size: 17px;
    font-family:  "Alata", sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.cursor {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.07), transparent 50%);
    position: fixed;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

* :hover > .cursor {
    opacity: 1;
}

a {
    text-decoration: none;
    color: #DDDDDD;
}

body {
    background-color: #101010;
    overflow-x: hidden;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 0 auto;
    max-width: 50vw;
    min-width: 800px;
    min-height: 8vh;
    color: #DDDDDD;
    padding: 3vh;
}

.navbar_toggle {
    font-size: 29px;
    padding: 1vh;
    float: right;
    display: none;
}

.title {
    float: left;
    max-width: 3vw;
    min-width: 60px;
    padding-left: 1vw;
}

.header_links {
    float: right;
    text-align: center;
}

.header ul {
    margin-right: 0;
    margin-left: auto;
    line-height: 2.5vh;
}

.header li {
    text-align: right;
    list-style-type: none;
    display: inline-block;
    margin-left: 1vw;
}

.header li :hover {
    text-decoration: underline #F7996E;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.selected {
    color: #F7996E;
}

.main {
    margin: 0 auto;
    max-width: 70vw;
    color: #DDDDDD;
}

#avatar {
    font-size: 86px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.featured :hover {
    transition-duration: 0.2s;
    transform: scale(1.008);
    background-color: rgba(221, 221, 221, 0.12);
}

.featured_panel :hover{
    transform: none;
    background-color: transparent
}

.featured_panel {
    border: 1px solid #DDDDDD;
    border-radius: 25px;
    margin: 25px 0;
    background-color: rgba(221, 221, 221, 0.08);
    cursor: pointer;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 50vh;
}

.footer {
    padding-top: 2vh;
    margin: 0 auto;
    max-width: 50vw;
    min-width: 800px;
    color: #DDDDDD;
}

/* about page */


@media screen and (max-width: 900px) {

    .main, .header, .footer {
        max-width: 82vw;
        min-width: 0px;
    }

    * :hover > .cursor {
        opacity: 0;
    }
    

    .header_links {
		display: grid;
		grid-template-columns: auto;
        position: relative;
		width: 82vw;
        height: 0vh;
		z-index: -1;
        opacity: 0;
        transition: all 0.4s ease;
        align-items: center;
        margin-top: -1vh;
        margin-bottom: -1vh;
    }

    .header_links.show {
        background: #101010;
        position: relative;
		opacity: 1;
		transition: 0.4;
		z-index: 99;
		height: 30vh;
		font-size: 1.6rem;
        text-align: center;
		width: 100%;
    }

    li {
        text-align: center;
    }

    .description {
        max-width: 82vw;
        min-height: 20vh;
        margin-top: 3vh;
        min-width: 0px;
        margin-bottom: 7vh;
    }

    .navbar_toggle {
        display: block;
        cursor: pointer;
    }

    .featured_panel {
        flex-direction: column-reverse;
    }

    .featured_description {
        margin: 2vw;
        max-width: 0px;
    }

    .avatar_parent {
        float: none;
        max-width: 82vh;
        min-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

}
