@import url('https://fonts.googleapis.com/css2?family=Alata&family=Geologica:wght@100..900&family=Habibi&display=swap');
* {
    color: #DDDDDD;
    font-family:  "Alata", sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
}


section {
    height: 40vh;
    width: 75vw;
    display: flex;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* scroll animation */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.8s;
/*    transform: translateX(-100%); */
}

.show {
    opacity: 1;
    filter: blur(0);
}


/* header */

#header {
    width: 75vw;
}
.header_element {
    height: 100%;
}

.header_link {
    display: block;
    list-style: none;
    cursor: pointer;
}

.header_link :hover {
    text-decoration: underline;
    text-decoration-color: #8DDBE0;
    text-decoration-thickness: 2px;
}

#navbar_toggle {
    display: none;
    font-size: 2rem;
}

/* landing */
#avatar {
    font-size: 86px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#landing_text {
    width: 50%;
    text-align: left; 
}

#display {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.display_card {
    border-radius: 2rem;
    background-color: rgba(221, 221, 221, 0.08);
    cursor: pointer;
    margin-bottom: 3rem;
    min-height: 29rem;
    height: fit-content;
    display: grid;
    border: 1px solid rgba(255, 255, 255, 0.5);
    grid-template-columns: 45% 55%;
}

#display :nth-child(even) {
    grid-template-columns: 55% 45%;
}

.display_card_text {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.display_card_text_subtitle {
    color: rgb(177, 177, 177);
}

.display_card_text_p {
    margin-top: 1rem;
}

#display :hover {
    transition-duration: 0.3s;
    transform: scale(1.008);
    background-color: rgba(221, 221, 221, 0.12);
}

#display .display_card :hover, #display_head:hover{
    transform: none;
    background-color: transparent;
}

.display_card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    overflow: hidden;
}


/* responsive */
@media screen and (max-width: 1050px) {

    /* header */
    #header_links_list li {
        opacity: 0;
        display: none;
        background-color: rgb(41,41,41);
        transition: all 0.5ms ease;
        width: 75vw;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }

    #header_links_container ul {
        flex-direction: column;
        align-items: center;
    }

    #header_links_list li:last-child {
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    #header_links_list li:first-child {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    #navbar_toggle {
        display: block;
        cursor: pointer;
    }

    #header_links_list.show li {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        transform: translate(-0.9rem, 9rem);
    }

    #header_links_list li:hover {
        transition: ease-in-out;
        transition-duration: 0.3s;
        background-color: rgb(57,57,57);
    }

    .header_link :hover {
        text-decoration: none;
    }

}

@media screen and (max-width: 650px) {

    section, #header, #header_links_list li {
        width: 90vw;
    }

    #landing_hero, .display_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #landing_avatar_box {
        display: none;
    }

    #landing_text {
        width: 80vw;
        text-align: left;
        height: 29rem;
    }
}